%h1 Topics
%h2 Topic List
= render 'shared/topic_list', topics: @topics

%h2 Create New Topic
- if logged_in?
  = form_for(@new_topic) do |f|
    = render 'shared/error_messages', object: f.object
    = f.text_field :title, class: 'form-control', placeholder: "Topic Title"
    = f.submit "Create", class: 'btn btn-primary'
- else
  %p Please #{ link_to "login", login_path } to create new topic
