%header.navbar.navbar-fixed-top.navbar-inverse.justify-content-between
  .container
    = link_to 'BBS', root_path, class: 'navbar-brand', id: 'logo'
    %nav
      .row
        .col-md-4
          = form_tag(search_path, method: :get, class: 'navbar-form') do
            %input{ class: "form-control", type: "text", placeholder: "Search topics", name: "q", value: @query }
            %button{ class: "btn btn-outline-success", id: "btn-search", type: "submit" }
              %span.glyphicon.glyphicon-search
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li.nav-item
              %span.navbar-text Logged in as #{ current_user.name }
            %li.nav-item= link_to 'Settings', edit_user_path(current_user)
            %li.nav-item= link_to 'Log out', logout_path, method: :delete
          - else
            %li= link_to 'Sign up', signup_path
            %li= link_to 'Log in', login_path
